
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#title {
  text-align: center;
  font-family: arial, sans-serif;
}


.myTable {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}


.myTable td, .myTable th {
  border: 1px solid #ddd;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  padding-right: 2px;
  font-size: 14px;
}

.evenRow{background-color: #f2f2f2;}

.selectdRow {background-color: #ddd;}

.myTable th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.form-wrapper {
  display: flex;
  grid-column: 1/13;
  grid-row: 1/13;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  overflow: auto;
}

.form-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: grey;
}
.form-card-wrapper {
  width: 400px;
  align-self: center;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
  margin: 1em;
}

.flex-center {
  display: flex;
  justify-content: center;
  margin: 1em;
  text-align: center;
}

.flex-center-spacebetween {
  display: flex;
  justify-content: space-between;
}

.flex-center-spaceevenly {
  display: flex;
  justify-content: space-evenly;
}

.flex-direction-column {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
}

.h-220 {
  max-height: 220px !important;
}

.h-100 {
  height: 100px !important;
}
.inner-form-field {
  font-size: 20px;
  width: 100px;
  height: 15%;
  margin: 10px;
}

.h-5 {
  height: 50vh;
}

.mt-auto {
  margin-top: auto;
}

.wrapper-encoders {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  margin: 20px;
  height: 85vh;
  outline: 0;
  margin-top: 10vh;
}

.table-wrapper {
  overflow: auto;
}

.wrapper-items {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.wrapper-items-main {
  margin: 0 1em;
  height: 30px;
  }


.header-hight {
  height: 8vh;
}

.right-align {
  width: 100%;
  text-align: right;
}

.center-align {
  width: 100%;
  text-align: center;
}

.filter-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.vw-50 {
  width: 50vw;
}

.vw-60 {
  width: 60vw;
}

.vw-70 {
  width: 70vw;
}

.vw-90 {
  width: 90vw;
}

.w-100px {
  width: 100px;
}

.w-100 {
  width: 100%;
}
.none {
  display: none;
}
.align-right {
  text-align: right;
}

.mat-menu-position {
  visibility: hidden;
  position: fixed;
}

.wrapper-with-filter {
  outline: 0;
  margin-top: 0.1vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px auto;
  grid-template-areas:
    'filter .'
    'table form';
}
.tableWrapper{
  height: 70vh; 
  overflow-y: auto;
}

#container {
  margin-top: 10px;
}

*,
::after,
::before {
  outline: none;
}

.mat-raised-button.mat-accent {
  color: white;
}



.base-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}
.main-container {
  margin-top: 10vh;
}
body {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  color: black;
}

label {
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: -3px !important;
  min-width: 100px;
}



.checkbox-form-element {
  font-size: 12px;
  margin-right: 10px;
}

.option-code-field {
  color: blue;
}

.option-text-wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
}



.navigation{
  height:30px;
  padding-top:1px;
  padding-bottom:1px;
  padding-right: 4px;
  background-color: #4CAF50;
}

.navigation ul> li {
  display: inline-block
}

.navigation a{
  color: white;
  padding-left: 20px;
  font-size: 18px;
}

.error{
  color: red;
  font-size: 12px;
}

.headerSortDown:after,
.headerSortUp:after {
  content: ' ';
  position: relative;
  left: 2px;
  border: 8px solid transparent;
}

.headerSortDown:after {
  top: 10px;
  border-top-color: silver;
}

.headerSortUp:after {
  bottom: 15px;
  border-bottom-color: silver;
}

.headerSortDown,
.headerSortUp {
  padding-right: 10px;
}









